{
  "extends": [
    "plugin:@nrwl/nx/react",
    "../../.eslintrc",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "ignorePatterns": ["!**/*"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "rules": { "import/extensions":0,
      "@typescript-eslint/indent":"off",
    "@typescript-eslint/comma-dangle":"off",
  "implicit-arrow-linebreak":"off",
"no-confusing-arrow":"off",
"linebreak-style":"off",
"object-curly-newline":"off"}
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/naming-convention":"off"
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "rules": {}
    }
  ],
  "parserOptions": {
    "project": [
      "libs/assetto-components/tsconfig.json",
      "libs\\assetto-components\\.storybook\\tsconfig.json"
    ]
  }
}
