{
  "extends": ["plugin:@nrwl/nx/react", "../../.eslintrc","airbnb","airbnb-typescript"],
  "ignorePatterns": ["!**/*"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "rules": {
        "implicit-arrow-linebreak": "off",
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/comma-dangle": "off",
        "object-curly-newline":"off",
        "operator-linebreak":"off",
        "react/jsx-one-expression-per-line":"off",
        "no-confusing-arrow":"off",
        "react/jsx-props-no-spreading":"off",
        "jsx-quotes":"off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {}
    },
    {
      "files": ["*.js", "*.jsx"],
      "rules": {}
    }
  ],
  "parserOptions": {
    "project": "apps/assetto/tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "linebreak-style":"off"
  }
}